body
{
    background:#fff;    /*Background*/
    
    /*Layer 55*/
    /*
    from: 949494
    to: ffffff
    at: 64%
    */  
    
    /*chrome, safari*/
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.64, rgb(148,148,148)),
        color-stop(1, rgb(255,255,255))
    );
    /*firefox*/
    background-image: -moz-linear-gradient(
        center top,
        rgb(148,148,148) 64%,
        rgb(255,255,255) 100%
    );

    
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#949494', endColorstr='#ffffff'); /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#949494', endColorstr='#ffffff')"; /* IE8 */
    
    /***********************************************************************************************************************
    64% PERCENTAGE must be implemented for IE too 
    ************************************************************************************************************************/
}

#layer54
{
    z-index:-1;
    position: absolute;

    left: 0px;
    top: 0px;
    height: 100%; /*1350px; /*from picture dimension*/
    width: 100%;
    
    background: url(../images/layer54.png) no-repeat fixed top center;
}

.container  /*overloading previous declaration*/
{
    width: 990px;
}

#header         /*Group 26*/
{
	padding: 0px;    /**/
    margin-top: 22px;   /*apo to guideline tou psd*/
    height: 88px;
    
    margin-bottom: 25px;    /*DEN YPARXEI GUIDELINE, guessing...*
    
    /*border: 1px solid black;*/
    
    position: relative;         /*parent element relative for children objects to be vertically aligned*/
}

hr
{
    margin: 0px;
    padding: 0px;
    
    width: 100%;
    height: 1px;
    background-color: #333333;
    
    filter: alpha(opacity=60);   /* for IE */
    opacity: 0.6;    /* CSS3 standard */
}

#logo       /*Layer 82*/
{
    padding: 0px;    /**/
    margin: 0px;    /**/
    
    width: 203px;           /*from image*/
    height: 65px;           /*from image*/
    
    position: absolute;         /*child element absolut be vertically aligned, parent must be position relative*/
    bottom: 0px;    
}

#group25
{
    font-family: Trebuchet MS;   /*from psd*/
    font-size: 13px;       /*proseggistiko dioti to megethos 13pt pou yparxei sto PSD fainetai arketa megalytero sto browser*/
    margin-top: 4px;
}

#mymenu
{
    /*display: inline-block;/**/
    display: inline;
    
    margin-right: 32px; /*proseggistika*/
    vertical-align: middle;
}

.mymenu_item
{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    
    margin-left: 4px;
    margin-right: 4px;
    
    text-align: center;
    
    /*display: inline-block;/**/
    display: inline;
}

.mymenu_enabled
{    
    color: white;
    background-color: #333333;
    border:0px solid #333333;
}

.mymenu_disabled
{
    color: #7f7e7e;
}

#mylussile
{
    font-weight: bold;
}

.curved     /*http://www.htmlremix.com/css/curved-corner-border-radius-cross-browser*/
{
    -moz-border-radius:3px;            /*mozilla*/
    -webkit-border-radius:3px;         /*Safari and chrome*/
    -khtml-border-radius:3px;          /*Linux browsers*/
    border-radius:3px;                 /*CSS3*/
    
    behavior:url(../assets/border-radius.htc);
}

.icon_parent
{
    display: inline-block;
    /*display: inline;/**/
    
    vertical-align: middle;
    position: relative;
    height: 17px;   /*from layer81.png*/
    width: 13px;    /*from layer81.png*/
}

#shape11copy        /* dimensions: 5x9 */
{
    position: absolute;
    
    top: 50%;
    margin-top: -6px;   /*shift up: this depends from image dimensions (here below middle)*/ 
    
    left: 50%;
    margin-left: -2px;  /*this depends from image dimensions (here in center)*/ 
}


#searchwrapper
{
    display: inline-block;/**/
    /*display: inline;/**/
    
    vertical-align: middle;
    
    width:236px; /*follow your image's size*/
    height:32px;/*follow your image's size*/
    background-image:url(../images/shape2copy7.png);
    background-repeat:no-repeat; /*important*/
    padding:0px;
    position:relative; /*important*/
}
 
#searchwrapper form
{
    display:inline;
}

#searchwrapper input
{
    border:0px; /*important*/
    background: transparent; /*important*/  /*note: #f1f1f1 in case transparent has problems*/
    position: absolute; /*important*/
}
 
.searchbox_text
{   
    top:0px;    /*apofeugoume ti diavathmisi tou xromatos ths eikonas gia na pesoume mesa sthn perioxi me eniaio solid color*/
    
    left:34px;   /* (width of searchbox_submit) + 2 x (left of searchbox_submit)*/
    
    width:194px;    /* searchwrapper - self::left - (left of searchbox_submit)*/
    height:16px;
}
 
.searchbox_submit
{   
    top:8px;
    left:8px;
    
    width:18px;
    height:13px;
}

#language_wrapper
{
    /*display: inline-block;/**/
    display: inline;/**/
    vertical-align: middle;
}

.lang
{
    /*display: inline-block;/**/
    display: inline;/**/
    
    /*padding approximately*/
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.lang_enabled
{
    color: black;   /*from psd*/
    font-weight: bold;  /*from psd*/
    background-color: #f0f0f0;
}
.lang_disabled
{
    color: #666666; /*from psd*/
}


#group2
{
    padding: 0px;    /**/
    margin: 0px;    /**/
    
    position: absolute;         /*child element absolut be vertically aligned, parent must be position relative*/
    bottom: 0px;
    right: 0px;
    
    font-family: arial;     /*from psd*/
    font-weight: lighter;    /*from psd*/
    font-size: 16px;        /*from psd*/
    color: black;           /*from psd*/
    
    /*color: transparent;*/
}

.shadow
{
	text-shadow: 0px 0px 1px #000000;
    Filter: Blur(Add = 1, Direction = 50, Strength = 1);
}

.group2_item
{
    padding-right: 16px;    /*approximately*/
}

#content    /*shape12*/
{
    border-top: 2px solid #333333;  /*same color as the "hr" element, but without transparency*/

    height: 910px;  /*no guidelines, me to mati*/
    
    background:#fff;    /*if no gradient is supported*/
    /*Shape 12*/
    /*
    from: e1e1e1
    to: ffffff
    at: 18%
    */
    /*chrome, safari*/
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.18, rgb(225,225,225)),
        color-stop(1, rgb(255,255,255))
    );
    
    /*firefox*/
    background-image: -moz-linear-gradient(
        center top,
        rgb(225,225,225) 18%,
        rgb(255,255,255) 100%
    );
    
    /* IE6 & IE7 */
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e1e1e1', endColorstr='#FFFFFF'); 
    
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e1e1e1', endColorstr='#FFFFFF')";
}

#submenu
{
    margin-top: 15px;       /* a simple solution given with the combination of margin and padding to avoid vertical centering techniques*/
    padding-bottom: 15px;
    
    padding-left: 22px;
    padding-right: 22px;
    
    border-bottom: 1px solid #cccccc;
    
    font-family: arial;
    font-size: 12px;
}

/*In IE7 the :before and :after are not supported, therefore we cannot use a fixed content*/
.seperator
{
    color: #666666;
    padding-left: 2px;
    padding-right: 2px;
}
.submenu_disabled
{
    color: #666666; /*from psd*/
}
.submenu_enabled
{
    font-weight: bold;
    color: #333333; /*from psd*/
}

.maincontent
{
    /*border: 1px solid black;/**/
    float: left;
    
    padding-left: 23px;
    width: 742px;   /*765-padding left (from psd)*/
}

#maintitle
{
    font-family: Trebuchet MS;
    font-size: 26px;
    
    line-height: 100px;  /*proseggistika*/
    margin-bottom: 30px; /*proseggistika*/
    
    text-shadow: 0px 0px 1px #000000;
    Filter: Blur(Add = 1, Direction = 50, Strength = 1);
}

#shape14wrapper
{
    width: 700px;   /*me metrisi, no psd guidelines*/
    height: 700px;  /*me metrisi, no psd guidelines*/
    
    border: 5px solid #f3f3f3;
    
    background: transparent;    /*to background analamvanetai parakatw apo dyo ksexorista divs*/
    position: relative;  
}

/*EFOSON TO INTERNET EXPLORER DEN YPOSTIRIZEI POLLAPLES DIAVATHMISEIS GRADIENT, THA PREPEI NA TO SPASOUME SE 2 DIVs*/

#shape14_up
{
    width:100%;
    
    /*thelame to gradient na pigainei ws to 32% opote tha ypologisoume posa pixels einai auto*/
    height: 224px; /* 700*32% */
    
     background:#fff;    /*if no gradient is supported*/
    /*
    from: FFFFFF
    to: F3F3F3
    at: 100%
    */
    
    /*chrome, safari*/
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #FFFFFF),
        color-stop(1, #F3F3F3)
    );
    
    /*firefox*/
    background-image: -moz-linear-gradient(
        center top,
        #FFFFFF 0%,
        #F3F3F3 100%
    );
    
    /* gradient type 0 / 1: vertical type / horizontal type*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#F3F3F3');     /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#F3F3F3')";    /* IE8 */
}

#shape14_down
{
    width:100%;
    
    /*thelame to gradient na pigainei ws to 32% opote tha ypologisoume posa pixels einai auto*/
    height: 476px; /* 700*(100-32)% */
    
     background:#fff;    /*if no gradient is supported*/
    /*
    from: F3F3F3
    to: FFFFFF
    at: 100%
    */
    
    /*chrome, safari*/
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #F3F3F3),
        color-stop(1, #FFFFFF)
    );
    
    /*firefox*/
    background-image: -moz-linear-gradient(
        center top,
        #F3F3F3 0%,
        #FFFFFF 100%
    );
    
    /* gradient type 0 / 1: vertical type / horizontal type*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F3F3F3', endColorstr='#FFFFFF');     /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F3F3F3', endColorstr='#FFFFFF')";    /* IE8 */
}

/*META THN PROIGOUMENI METHODO TWRA THA PREPEI NA FEROUME ENA DIV PANW APO TA DYO PROIGOUMENA POU THA EINAI TO KANONIKO DIV GIA TO PERIEXOMENO*/

#shape14
{
    width: 700px;
    height: 700px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.thumbswrapper
{
    float: left;
    width: 345px;   /* 3 x (width of thumbnail) + 2 x 3 x (margin of thumbnail)*/
    margin-left: 24px;  /*den ypirxe guideline, metrithike*/
}

.thumbnail
{
    /*the three lines below are useless without block property (does not work on inline)*/
    width: 107px;   /*from picture*/
    margin: 3px;
    text-align: center;
    
    /*display: inline-block;/**/
    display: inline;/**/
}

.largepic
{
    /*margin: 0px;    /**/
    /*padding: 0px;   /**/
    margin-right: 43px;
    margin-top: 28px;   /*(control up height) + 4 x (thumbnail margin)*/

    float: right;
    width: 278px;   /*from picture*/
    height: 498px; /*3x (thumbnail height) + 4*(thumbnail margin)*/
}

.caption
{
    font-family: arial;
    font-size: 12px;
}
.caption_attr
{
    font-weight: bold;
}

#layer134copy2
{
    width: 100%;
    text-align: center;
    margin-bottom: 45px;   /*from psd guidelines*/
    
    position: absolute;
    bottom: 0px;
}

.sidecontent
{
    float: right;
    width: 225px; /*container width - maincontent width*/
    /*border: 1px solid black;/**/
}

#sidetitle
{
    font-family: Trebuchet MS;
    font-size: 20px;
    
    margin-bottom: 2px; /*proseggistika*/
    
    /*same as maintitle:*/
    line-height: 100px;  /*proseggistika*/  
    
    
    text-shadow: 0px 0px 1px #000000;
    Filter: Blur(Add = 1, Direction = 50, Strength = 1);
}

.offer_wrapper
{

}

.prod_thumb_wrapper
{
    position: relative;
}

.prod_thumb
{
    position: absolute;
}

.circle
{   
    position: absolute;
    
    /*condition: width=height={an even number}*/
    width: 54px;
    height: 54px;
    background-color: #333333;
    
    /*condition: radius half size*/
    -moz-border-radius:27px;            /*mozilla*/
    -webkit-border-radius:27px;         /*Safari and chrome*/
    -khtml-border-radius:27px;          /*Linux browsers*/
    border-radius:27px;                 /*CSS3*/
    
    behavior:url(../assets/border-radius.htc);
    
    text-align: center;
    
    line-height: 54px;
}

.offer
{
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.offer_title
{
    font-family: Trebuchet MS;
    font-size: 18px;
    
    width: 174px;   /*from psd guidelines*/
}

.offer_descr
{
    font-family: arial;
    font-size: 12px;
    
    width: 174px;   /*from psd guidelines*/
    height: 72px;   /* (2x(font-size*25%) + font-size) x lines <--- AWESOME, calculates correct division height AUTOMATICALLY*/
    
    overflow: hidden;
}

.offer_value
{
    height: 60px;   /*from psd guidelines*/
}

/*tried the money:before for euro sign but was proven wrong approach*/
.money
{
    font-family: arial;
    font-weight: bold;
    font-size: 15px;
}

#footer
{
    background-color: white;
    padding-top: 50px;  /*proseggistika me ypologismo*/
}

#group32
{
    text-align: justify;
    font-family: Century Gothic;
    font-size: 17px;
    font-weight: bold;
    color: #36312a;
    
    padding-bottom: 9px;    /*proseggistika calculated*/
    border-bottom:1px solid #e7e7e7;    /*from psd*/
    margin-bottom: 16px;    /*proseggistika calculated*/
}

/*I can only think of javascript to DISTRIBUTE EVENLY the elements. Since here we do not use javascript, we are going to follow a more dummy method*/
.group32_item
{
    text-align: center;
    /*display: inline-block;/**/
    display: inline;/**/
}

.group32_seperator
{
    /*this width is useless in IE7 since we must use inline, therefore, one more useless picture*/
    width: 33px;        /*this WIDTH should AUTOMATICALLY be CALCULATED from jQuery*/

    /*display: inline-block;/**/
    display: inline;/**/
}

#group22
{
    
}

.group19
{
    margin-left: 10px;
    
    display: inline-block;/**/
    /*display: inline;/**/
    
    vertical-align: top;
}

#clothing
{
    width: 160px;   /*approximately*/
}

#aksesouar
{
    width: 120px;   /*approximately*/
}

#iphoneapp
{
    width: 180px;   /*approximately*/
}

#socialnet
{
    width: 110px;   /*approximately*/
}

#newsletter
{
    width: 320px;   /*approximately*/
}

.group19_title
{
    font-family: arial;
    font-size: 15px;
    color: #999999;
    
    margin-bottom: 10px;    /*proseggistika ypologistike*/
}

.group19_content
{
    display: inline-block;/**/
    /*display: inline;/**/
}

#clothing_content, #aksesouar_content
{
    font-family: Arial;
    font-size: 11px;
    color: #4e4e4e;
}

#iphoneapp_content, #socialnet_content
{
    margin-top: 8px;    /*proseggistika*/
}
#iphoneapp_content
{
    font-family: Trebuchet MS;
    font-size: 12px;
    color: #4e4e4e;
}

#iphone_pic
{
    width: 40px;
    border: 1px solid black;
    display: inline-block;
}
#iphone
{
    width: 45px;
    vertical-align: middle;
}
#iphoneapp_text
{
    width: 70%;
    display: inline-block;
    vertical-align: middle;
}

#newsletter_content
{
    font-family: Arial;
    font-size: 12px;
    color: #5e5e5e;
}


#newsletter_wrapper
{
    display: inline-block;
    vertical-align: middle;
    
    width: 315px; 
    height: 32px;
    background-image:url(../images/shape2copy8.png);
    background-repeat:no-repeat; /*important*/
    padding:0px;
    position:relative; /*important*/
}

#newsletter_wrapper form
{
    display:inline;
}

#newsletter_wrapper input
{
    border:0px; /*important*/
    background: transparent; /*important*/  /*note: #f1f1f1 in case transparent has problems*/ 
    position: absolute; /*important*/
}
 
.newsletter_text
{   
    top:0px;    /*apofeugoume ti diavathmisi tou xromatos ths eikonas gia na pesoume mesa sthn perioxi me eniaio solid color*/
    
    left:5px;
    
    width:280px;    /* (newsletter_wrapper width) - self::left - (newsletter_submit width) - 2x(newsletter_submit right) - (newsletter_submit padding) */
    height:16px;
    
    font-family: Trebuchet MS;
    font-size: 12px;
    color: #999999;
}
/*we suppose that by CLICK there is jQuery which CHANGES the COLOR from 999999 to a more vivid one*/
 
.newsletter_submit
{   
    top: 5px;
    right: 7px;
    
    width: 8px;
    height: 9px;
    padding: 5px;
}

#group23
{
    border-top:1px solid #dfdfdf; 
    padding-top:5px;    /*approximately measured*/
    padding-bottom:100px;   /*approximately measured*/
    padding-left: 5px;
    padding-right: 5px;
    
    font-family: Arial;
    font-size: 11px;
    color: #8a8a8a;
}

#payment
{
    vertical-align: middle;
    margin-left: 10px;  /*approximately*/
}

#atcom_logo
{
    vertical-align: bottom;
    float: right;
}

/*
border: 1px solid black;
*/